<launch>
    <!-- Robot description -->
    <include file="$(find tvc_navigation)/launch/unit04/include/model_show.launch" >
        <arg name="include" value="true"/>
    </include>

    <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch"/>

    <!--joystick-->
    <node name="joy_node" pkg="joy" type="joy_node"/>
    <node name="joystickPS4" pkg="tvc_navigation" type="joystickPS4"/>

    <!--velodyne-->
    <include file="$(find tvc_navigation)/launch/unit04/include/vlp16db_unity.launch"/>

    <!--odometry-->
    <node name="odom_tf_broadcaster" pkg="tvc_navigation" type ="odom_tf_broadcaster"/>
    <node pkg="robot_localization" type="ekf_localization_node" name="ekf_se" clear_params="true">
        <rosparam command="load" file="$(find tvc_navigation)/config/unit04/ekf_localization/model1.yaml" />
        <remap from="odometry/filtered" to="fusion/odom" />
    </node>

    <!--gmapping-->
    <node pkg="gmapping" type="slam_gmapping" name="slam_gmapping" clear_params="true">
        <rosparam command="load" file="$(find tvc_navigation)/config/unit04/gmapping.yaml" />
    </node>

    <!--rviz-->
    <arg name="rvizconfig" default="$(find tvc_navigation)/rviz/wpRecord.rviz" />
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" respawn="true" />
</launch>