<launch>
    <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch"/>

    <node name="odom_tf_broadcaster" pkg="tvc_navigation" type ="odom_tf_broadcaster"/>

    <!--joystick -> cmd_vel-->
    <node name="joy_node" pkg="joy" type="joy_node"/>
    <node name="joystickPS4" pkg="tvc_navigation" type="joystickPS4">
        <remap from="cmd_vel" to="fourth_robot/diff_drive_controller/cmd_vel"/>
    </node>

    <!--velodyne-->
    <include file="$(find tvc_navigation)/launch/include/naviton/vlp16db_unity.launch"/>

    <!--rviz-->
    <include file="$(find tvc_navigation)/launch/naviton/include/model_show.launch" >
        <arg name="include" value="true"/>
    </include>
    <arg name="rvizconfig" default="$(find tvc_navigation)/rviz/operation_check.rviz" />
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" />
</launch>