<?xml version="1.0"?>

<launch>
    <arg name="fileName" default="way1.csv"/>
    <arg name="mapFile" default = "$(find tvc_navigation)/resources/tukuba/map.yaml"/>

    <node name="wp_load" pkg="tvc_wpTool" type="wp_load" output="screen">
        <param name="filePath" value="$(find tvc_navigation)/csv/$(arg fileName)"/>
        <param name="map_frame_id" value="map"/>
        <remap from="wayPoint/path" to="path"/>
    </node>
    <node pkg="map_server" type="map_server" name="map_server" args="$(arg mapFile)">
        <param name="frame_id" value="map"/>
    </node>
    <node name="wp_visualizer" pkg="tvc_wpTool" type="wp_visualizer"/>

    <arg name="rvizconfig" default="$(find tvc_navigation)/rviz/path_display.rviz" />
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" />

</launch>